body{
    background-image: url("../images/pizzaback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Mansalva', cursive;
}
.container{
    margin:0 50px;
    scroll-behavior: smooth;
}
nav{
    width:80%;
    height:100px;
    background-color: rgb(255, 208, 0);
    color: black;
    font-size: 20px;
    margin:0 ;
}
.nav-main h2{
    font-size: 45px;
    color:rgb(66, 62, 55);
    text-align: center;
}
.nav-main ul li{
    list-style: none ;
    display: inline-block;
}
ul li a{
   display: block;
   padding: 0 20px;

}
.nav .nav-main ul li a :hover{
    display: inline-block;
    color:black;
    text-decoration-color: aquamarine;
    background-color: white;
    cursor: pointer;
    display: block;
}
img{
    right: 100%;
}
#home{
    padding: 20px;
    background-color: rgb(255, 187, 0);
    color: rgb(68, 0, 255);
    margin: 20px 50px 20px;
}
.home h3{
    color: rgb(66, 62, 55);
    text-align: center;
    
}
#services{
    padding: 20px;
    background-color: rgb(255, 187, 0);
    color: rgb(68, 0, 255);
    margin: 20px 50px 20px;

}
#services h3{
    color: rgb(66, 62, 55);
    text-align: center; 
}
#services a{
    text-decoration: underline;
}
.enjoy{
    background-image: url("../images/mizz.gif");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.enjoy p{
    margin-left: 380px;
    padding-top: 230px;
    font-size:30px;
    color:rgb(3, 3, 3);
}
#order{
    padding: 20px;
    background-color: rgb(255, 187, 0);
    color: rgb(68, 0, 255);
    margin: 20px 50px 30px;  
}
#check{
    padding: 20px;
}
#results{
    font-size: 30px;
    text-align: center;
    color: red;
    padding: 10px;
}
@media screen and (max-width: 999px){
    .form-control{
        height: 20px;
        width: 100px;
    }
}